Source: dindel-tgi1.01-wu1
Section: science
Priority: optional
Maintainer: Genome Developers <genome-dev@genome.wustl.edu>
DM-Upload-Allowed: yes
Uploaders: Genome Developers <genome-dev@genome.wustl.edu>
Build-Depends: debhelper (>= 7), git-core, libboost-dev,
 libboost-program-options-dev
Standards-Version: 3.9.2
Homepage: https://github.com/genome/dindel-tgi

Package: dindel-tgi1.01-wu1
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}
Replaces: dindel-tgi1.01
Breaks: dindel-tgi1.01
Description: Dindel
 Dindel TGI is a fork of Dindel, a program for calling small indels from
 short-read sequence data ('next generation sequence data'). It is currently
 designed to handle only Illumina data. Dindel takes BAM files with mapped
 Illumina read data and enables researchers to detect small indels and produce
 a VCF file of all the variant calls. It has been written in C++ and can be
 used on Linux-based and Mac computers (it has not been tested on Windows
 operating systems).
